# Устанавливаем стандартное поведение для всех файлов
* text=auto eol=lf

# Убеждаемся, что текстовые файлы, которые могут быть чувствительны к BOM,
# НЕ имеют его.
*.txt text eol=lf -bom
*.py text eol=lf -bom
*.md text eol=lf -bom
*.yaml text eol=lf -bom
*.yml text eol=lf -bom
*.json text eol=lf -bom
